<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>FaceRecognition</title>
    <link rel="stylesheet" href="../static/styles/style_main.css" type="text/css">
</head>
<body>
    <div class="top-row">
        <div class="btn_log">
            <form method="post" action="/">
                <input type="submit"
                       value="Login"
                       id="login">
            </form>
            <form method="post" action="/v1/signup" target="_blank">
                <input type="submit"
                       value="Sign up"
                       id="signup">
            </form>
        </div>
        <div class="header-main">AI Technology</div>
    </div>

    <div class="mid-row">
        <img src="../static/styles/cap.jpg" alt="" id="img-hp">
    </div>
</body>
</html>